body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/header.jpg);
  padding: 20px 0px;
}

main {
  font-size: 20px;
  margin: 20px;
}

footer {
  background-color: #000;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

footer > p {
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: italic;
  font-weight: bold;
}

h1,
h2,
.subtitle {
  text-align: center;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3,
h4,
h5,
h6 {
  text-align: left;
  margin: 0;
}

hr {
  border: none;
  border-top: 3px solid #000;
  margin: 20px 0;
}

p {
  text-align: justify;
  font-weight: normal;
  margin: 10px 0;
  color: #000;
}

img {
  min-width: 13em;
  border-radius: 15%;
}

ul,
ol {
  text-align: justify;
}

li > b,
p > b {
  color: #900000;
}

b + i {
  font-weight: 600;
  color: #003e80;
}

h3 + p {
  margin-top: 15px;
}

dt {
  text-align: justify;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 30px;
}

dd {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  gap: 20px;
}

table {
  width: 90%;
  justify-self: center;
  text-align: center;
}

#authors-table,
#books-table,
th,
td {
  border: 2px solid #bfaa1b;
}

caption {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

#author-photo {
  background-color: #000;
}

#authors-table .info-cell td {
  background-color: #cccaaa;
  padding: 10px;
}

#authors-table img {
  height: 400px;
}

#authors-table th,
#books-table .book-title {
  background-color: #ccc;
  font-weight: bold;
}

#books-table {
  border-spacing: 5px;
}

#books-table th,
#books-table td {
  padding: 10px;
}

#books-table .book-title-col {
  width: 200px;
  background-color: #fafafa;
}

#books-table .short-info-col {
  width: 170px;
  background-color: #cdf1f7;
}

#books-table .long-info-col {
  width: 250px;
  background-color: #e4eecb;
}

#books-table .book-fts {
  background-color: #baeb36;
}

#books-table .short-info {
  background-color: #ddb123;
}

#books-table .long-info {
  background-color: #fea2bb;
}

#info-cols {
  background-color: #fafafa;
}

#books-table tfoot td {
  background-color: #dddfff;
  font-weight: bold;
}

#books-table tbody img {
  width: 50%;
  height: auto;
}

iframe {
  display: block;
  border: 2px solid #000;
  width: 80%;
  height: 700px;
  justify-self: center;
}

.back-button {
  font-style: italic;
  font-weight: bold;
}

.num-list {
  font-weight: bold;
  font-size: 22px;
}

.square-list {
  list-style: square;
  font-size: 24px;
}

.square-list li {
  margin: 20px;
}

.inserted-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.inserted-img img,
dd img {
  width: 13em;
}

.underlined {
  text-decoration: underline;
}

td > .underlined {
  font-weight: 500;
}
