body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/header.jpg);
  position: fixed;
  z-index: 9999;
  top: 0;
  border: 2px solid #000;
  border-radius: 0 0 15% 15%;
  width: 100%;
}

main {
  font-size: 20px;
  margin: 120px 20px 20px;
}

footer {
  background-color: #000;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

footer > p {
  color: #ffffff;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-style: italic;
  font-weight: bold;
}

h1,
h2,
.subtitle {
  text-align: center;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  margin: 15px 0px;
}

h3,
h4,
h5,
h6 {
  text-align: left;
  margin: 0;
}

hr {
  border: none;
  border-top: 3px solid #000;
  margin: 20px 0;
}

p {
  text-align: justify;
  font-weight: normal;
  margin: 10px 0;
  color: #000;
}

a {
  text-decoration: none;
  display: inline-block;
}

a[href^='#'] {
  font-weight: 500;
}

a:link {
  color: #001f67;
}

a:visited {
  color: #5f00e0;
}

a:hover {
  color: #eeb600;
  -webkit-text-stroke: 0.5px #000;
}

a:hover img {
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.5);
  filter: brightness(0.85);
}

a:active {
  transform: scale(0.95);
  color: #d900ff;
}

a[href^='http']::after {
  content: ' \1F310';
}

a[href^='#']::after {
  content: ' \1F4D6';
}

img {
  min-width: 13em;
  border-radius: 15%;
}

ul,
ol {
  text-align: justify;
}

p span {
  font-weight: 700;
  color: #900000;
}

h3 + p {
  margin-top: 15px;
}

dt {
  text-align: justify;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 30px;
}

dd {
  margin: 20px;
  overflow: hidden;
}

dd a {
  float: left;
  margin-right: 50px;
}

dd a img {
  height: 400px;
  min-width: 0;
  width: auto;
  object-fit: contain;
}

table {
  min-width: 90%;
  justify-self: center;
  text-align: center;
}

caption {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

iframe {
  display: block;
  border: 2px solid #000;
  width: 80%;
  height: 700px;
  justify-self: center;
}

#authors-table,
#books-table,
th,
td {
  border: 2px solid #bfaa1b;
}

#author-photo {
  background-color: #000;
}

#authors-table .info-cell td {
  background-color: #cccaaa;
  padding: 10px;
}

#authors-table img {
  height: 400px;
}

#authors-table th,
#books-table .book-title {
  background-color: #ccc;
  font-weight: bold;
}

#books-table {
  border-spacing: 5px;
}

#books-table th,
#books-table td {
  padding: 10px;
}

#books-table .book-title-col {
  width: 200px;
  background-color: #fafafa;
}

#books-table .short-info-col {
  width: 200px;
  background-color: #cdf1f7;
}

#books-table .long-info-col {
  width: 280px;
  background-color: #e4eecb;
}

#books-table .book-fts {
  background-color: #baeb36;
}

#books-table .short-info {
  background-color: #ddb123;
}

#books-table .long-info {
  background-color: #fea2bb;
}

#info-cols {
  background-color: #fafafa;
}

#books-table tfoot td {
  background-color: #dddfff;
  font-weight: bold;
}

#books-table tbody img {
  width: 50%;
  height: auto;
}

.back-button {
  font-style: italic;
  font-weight: bold;
}

.num-list {
  font-weight: bold;
  font-size: 22px;
}

.square-list {
  list-style: square;
  font-size: 24px;
  margin-left: 20px;
}

.square-list li {
  margin: 20px;
}

.square-list li span:last-child {
  font-weight: 600;
  font-style: italic;
  color: #003e80;
}

.square-list li span:first-child {
  font-weight: 700;
  font-style: normal;
  color: #900000;
}

.inserted-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.inserted-img img,
dd img {
  width: 12em;
}

.inserted-img::before {
  content: '';
  display: block;
  border-left: 3px solid #000;
  height: 150px;
}

.underlined {
  text-decoration: underline;
  font-weight: 500;
}
